
/* Main font size = 1rem */

html {
    font-size: 28px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Index.html button */

/* Main styles */

h1 {
    margin: 0;
    font-size: 2.75rem;
    font-family: 'VT323', monospace;
    color: #ffffff;
    padding: 0rem 0rem 1rem 0rem;
    text-align: center;
}
  
h2 {
    margin: 0;
    font-size: 1.75rem;
    font-family: 'VT323', monospace;
    color: #666666;
    padding: 0rem 0rem 0.5rem 0rem;
    text-align: center;
}

p {
    margin: 0;
    font-size: 1rem;
    font-family: 'VT323', monospace;
    line-height: 150%;
    text-align: center;
    padding: 0rem 0rem 0.25rem 0rem;
}

/* Main section */

.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Index & Finish card */

.card-if {
    position: relative;
    padding: 1.75rem 2rem 1.75rem 2rem;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Questions card */

.card {
    position: relative;
    padding: 2rem 2rem 0.25rem 2rem;
    background-color: #dedede;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Pixel border: copied */

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 12px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(12px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    12px calc(100% - 24px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    12px 50%,
    12px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    12px calc(100% - 24px),
    12px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -12px;
}

/* Status display */

.status-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;;
    gap: 0.5rem;
}

/* Status display (counter) */

.status-display {
    color: #979797;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    width: auto;
    gap: 4px;
}

#counter {
    font-family: 'VT323', monospace;
}

#separator {
    background-color: #cbcbcb;
    height: 2px;
    flex: auto;
    border-radius: 4px;
    border-width: 0;
}

#final-score {
    background-color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-bottom: 1rem;
}

/* Q&A */

#button-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
}

.flex-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.button {
    /* reset */
    border: none;
    outline: none;
    /* actual thing */
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    background-color: #c8c8c8;
    border-width: 4px;
    box-shadow: none;
    width: 100%;
    font-size: 1.25rem;
    font-family: 'VT323', monospace;
}

a {
    width: 100%;
}

/* on hover, turn the background gray */
.button:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}

.correct {
    background-image: linear-gradient(45deg, #001510 0%, #00bf8f 100%);
    color: white;
    cursor: pointer;
}

.false {
    background-image: linear-gradient(45deg, #4d1212 0%, #bf0026 100%);
    color: white;
    cursor: pointer;
}


/* ipad breakpoint */
@media (min-width: 431px) and (max-width: 800px) {
    .card {
        padding: 1.25rem 1.25rem 1rem 1.25rem;;
        width: 88vw;
        box-sizing: border-box;
    }
}

/* mobile breakpoint */
@media (max-width: 430px) {
    .section {
        overflow-y: auto;
    }
    .card {
        padding: 1rem;
        margin: 1rem;
        width: 88vw;
        box-sizing: border-box;
    }
    h1 {
        font-size: 2rem;
        font-family: 'VT323', monospace;
        color: #ffffff;
        text-align: center;
    }
    h2 {
        font-size: 1.25rem;
        padding: 0rem 0rem 0.25rem 0rem;
        text-align: center;
    }
    p {
        font-size: 0.75rem;
        line-height: 125%;
    }
    .button {
        padding: 0.75rem;
        font-size: 1rem;
    }  
    .pixel-corners::after {
        margin: -12px;
      } 
    .status-row {
    flex-direction: column;
    gap: 0rem;
    }
}